/* VARIABLES */

:root {
  /* COLORS */
  --colorWhite: #fff;
  --colorBlack: #000;

  --colorDarkGreen: rgb(34, 102, 65);
  --colorMediumGreen: rgb(60, 184, 116);
  --colorSoftGreen: rgb(85, 255, 161);

  --colorDarkRed: rgb(66, 13, 13);
  --colorMediumRed: rgb(131, 36, 36);
  --colorSoftRed: rgb(230, 45, 45);

  --colorDarkGold: #bf930d;
  --colorMediumGold: #efb810;
  --colorSoftGold: #ffc600;
  --colorShinyGold: #f3ca4c;

  --colorDarkBlue: rgb(11, 11, 83);
  --colorSoftBlue: rgb(0, 174, 255);

  --colorDarkSilver: #b4b6b9;
  --colorSoftSilver:	#e3e4e5;

  --colorGrayBacground: rgb(184, 183, 183);


  /* FONTS */
  --fontTitle: 'Righteous', cursive;
  --fontSubtitle: 'Acme', sans-serif;
  --fontText: 'Handlee', cursive;

}


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* GLOBALES */

body {
  background-image: linear-gradient(var(--colorBlack), var(--colorDarkGreen) 70%, var(--colorMediumGreen));
  background-repeat: no-repeat;

  min-height: 100vh;

  color: var(--colorWhite);
}


/* TITLE */

.title {
  margin: 40px auto;

  font-family: var(--fontTitle);
  font-size: 60px;
  color: var(--colorDarkGold);
  text-shadow:
		0 2px 2px var(--colorBlack),
		2px 2px 2px var(--colorBlack),
		2px 0 2px var(--colorBlack),
		0 0 2px var(--colorBlack),
    0 0 10px var(--colorShinyGold);

    text-align: center;
}


/* PLAY */

.subtitle {
  font-family: var(--fontSubtitle);
  font-size: 25px;
  color: var(--colorBlack);
  text-shadow: 0 0 3px var(--colorWhite);

  text-align: center;
}

.form {
  width: 100%;

  margin: 40px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input {
  background-color: var(--colorGrayBacground);
  border: var(--colorDarkRed) 10px solid;
  border-radius: 10px;
  box-shadow:
		0 0 5px var(--colorWhite),
		0 0 10px var(--colorWhite),
		0 0 20px var(--colorMediumRed),
		0 0 40px var(--colorDarkRed);

  width: 260px;

  margin-bottom: 30px;
  padding: 10px 20px;

  color: var(--colorBlack);
  text-shadow: 0 0 10px var(--colorWhite);
  font-family: var(--fontText);
  font-size: 18px;
  text-align: center;
  text-overflow: ellipsis;
}

::placeholder {
  color: var(--colorBlack);
}


/* RESULTS */

.result {
  margin: 30px 10px 10px;

  font-family: var(--fontSubtitle);
  font-size: 28px;
  color: var(--colorDarkGreen);
  text-shadow:
    0 2px 2px var(--colorBlack),
    2px 2px 2px var(--colorBlack),
    2px 0 2px var(--colorBlack),
    0 0 15px var(--colorWhite);

  text-align: center;
}

.results--wrong {
  color: var(--colorDarkRed);
  text-shadow:
    0 0 10px var(--colorWhite),
    0 0 20px var(--colorMediumRed);
}

.balanceMoney {
  font-family: var(--fontSubtitle);
  font-size: 20px;
  color: var(--colorBlack);
  text-shadow: 0 0 3px var(--colorWhite);

  text-align: center;
}

.money {
  font-family: var(--fontSubtitle);
  font-size: 25px;
  color: var(--colorDarkGreen);
  text-shadow:
    0 2px 2px var(--colorBlack),
    2px 2px 2px var(--colorBlack),
    2px 0 2px var(--colorBlack),
    0 0 2px var(--colorBlack);

  text-align: center;
}


.winning__text {
  margin: 20px;

  font-family: var(--fontSubtitle);
  font-size: 25px;
  color: var(--colorBlack);
  text-shadow: 0 0 3px var(--colorWhite);

  text-align: center;
}

.winning__number {
  background-image: radial-gradient(var(--colorDarkBlue) 20%, var(--colorSoftBlue), var(--colorWhite) 85%);
  border: var(--colorDarkGold) 10px ridge;
  border-radius: 50%;

  width: 100px;
  height: 100px;

  margin: 0 auto;

  color: var(--colorDarkGold);
  font-family: var(--fontTitle);
  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* BUTTONS */

.play {
  background-image: linear-gradient(var(--colorSoftGold), var(--colorMediumGold), var(--colorDarkGold));
  border: var(--colorDarkGold) 5px outset;

  padding: 10px 40px;

  font-family: var(--fontSubtitle);
  font-size: 20px;

  cursor: pointer;
}

.button {
  background-image: linear-gradient(var(--colorSoftSilver), var(--colorDarkSilver));
  border: var(--colorDarkSilver) 5px outset;

  padding: 10px 40px;

  font-family: var(--fontSubtitle);
  font-size: 20px;

  cursor: pointer;
}



/* HIDDEN */
.hidden {
  display: none;
}


/* MEDIAQUERIES */

@media all and (min-width: 768px) {

  .title {
    margin: 80px auto 60px;
    font-size: 80px;
  }

}

@media all and (min-width: 1200px) {

  .title {
    font-size: 100px;
  }

  .form {
    width: 700px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .input {
    margin: 30px;
  }

}